:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --card-set-gap: 30px;

  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --anim-time: 250ms;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul li {
  list-style: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.page-header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
}
.nav,
.links,
.contacts,
.header .container {
  display: flex;
  list-style: none;
  color: var(--title-color);
}

/* .logo */
.page-header .logo {
  margin-right: 93px;

  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.accent-black {
  color: var(--title-color);
}

.links a,
.contacts a {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  padding: 32px 0;
  display: inline-block;
  margin-right: 50px;

  text-decoration: none;
}

.links a {
  color: var(--title-color);
  transition: color var(--anim-time) var(--cubik);
}
.contacts a {
  color: var(--primary-text-color);
  transition: color var(--anim-time) var(--cubik);
}
.contacts li:last-child a,
.links li:last-child a {
  margin-right: 0;
}
.contacts a:hover,
.contacts a:focus,
.links a:hover,
.links a:focus {
  color: var(--accent-color);
}
/* Активная страница */
.site-nav .link-current {
  color: var(--accent-color);
}

.nav {
  display: flex;
}
.contacts {
  margin-left: auto;
  display: flex;
  /* outline: 1px solid red; */
}

.links site-nav:not(:last-child) {
  margin-right: 50px;
}
/* НИЖНЕЕ ПОДЧЁРКИВАНИЕ ГЛ. СТРАНИЦЫ */

.link-current.link {
  position: relative;
}

.link-current.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

/* SVG */

.contacts .contacts-link {
  display: flex;

  align-items: center;
  margin: 0;
}
.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts .icon {
  align-items: center;
  margin-right: 10px;
}

.contacts-link .icon {
  fill: #757575;
  transition: fill var(--anim-time) var(--cubik);
}

/* OVERLAY Главной секции */
.overlay {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_overlay.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: #2f303a; */
}

/* Эффективные решения */
.hero-title {
  font-family: "Roboto" sans-serif;
  font-size: 44px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 650;
  margin-bottom: 30px;
}
/* Кнопка заказать услугу */
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;

  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;

  cursor: pointer;

  transition: color var(--anim-time) var(--cubik),
    background-color var(--anim-time) var(--cubik),
    box-shadow var(--anim-time) var(--cubik);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background: #188ce8;
  box-shadow: var(--box-shadow);
}

/* ОСОБЕННОСТИ */
.card-set {
  /* outline: 1px solid tomato; */
  padding: 0 auto;
  margin: 0;
  margin-top: 0;

  list-style: none;

  display: flex;
  flex-wrap: nowrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-item {
  /* outline: 1px solid teal; */

  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* ГРУППА ИКОНОК */

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.icone-elements {
  width: 70px;
  height: 70px;
}

.item-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);

  margin-bottom: 10px;
}
.item-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.third-section {
  padding-top: 0px;
  padding-bottom: 94px;
}

.section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.list-item {
  position: relative;
  display: block;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.label-overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
}

.lable-text {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
}

/* НАША КОМАНДА */

.company-section {
  background-color: #f5f4fa;
}

.foto-set {
  /* outline: 1px solid yellow; */
  display: flex;

  margin-right: -30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.item:not(:last-child) {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.card-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-heading {
  margin-bottom: 10px;
}
.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: var(--primary-text-color);
}
.item {
  background-color: var(--primary-white-color);
  box-shadow: var(--card-shadow);
}

/* ИКОНКИ СОЦ. СЕТЕЙ  */

.list-social-icon {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-social-icon {
  display: flex;
  /* outline: 1px solid red; */
}

.link-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--primary-white-color);

  border-radius: 50%;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;

  transition: background-color var(--anim-time) var(--cubik);
}

.icon-social {
  transition: fill var(--anim-time) var(--cubik);
}

.item-social-icon:not(:last-child) {
  margin-right: 10px;
}

.link-social-icon {
  fill: #afb1b8;
}

.link-social-icon:hover,
.link-social-icon:focus {
  background-color: var(--accent-color);
}

.link-social-icon:hover .icon-social,
.link-social-icon:focus .icon-social {
  fill: var(--primary-white-color);
}

.link-social-icon {
  fill: #afb1b8;
}

/* Секция Постоянные Клиенты */

.regular-customers {
  background-color: var(--primary-white-color);
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;

  color: rgba(33, 33, 33, 1);
  margin-bottom: 50px;
  padding: 0;
}

.list-customers {
  display: flex;
}
.item-customers {
  display: flex;
}

.item-customers:not(:last-child) {
  margin-right: 30px;
}

.link-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition: color var(--anim-time) var(--cubik),
    border var(--anim-time) var(--cubik);
}

.icon-customers {
  fill: currentColor;
}

.link-customers:hover,
.link-customers:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ВТОРАЯ СТРАНИЦА */
/* Кнопки портфолио */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-buttons {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 50px;
}

.item-button:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-family: Roboto;
  font-size: 16px;

  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  /* min-width: 73px; */
  color: var(--title-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  cursor: pointer;

  transition: color var(--anim-time) var(--cubik),
    background-color var(--anim-time) var(--cubik),
    box-shadow var(--anim-time) var(--cubik);
}

/* Главная кнопка (активная)*/

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ПОРТФОЛИО КАРТОЧКИ */

.card-picture {
  /* outline: yellow; */
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card-picture > .element {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.element {
  transition: box-shadow var(--anim-time) var(--cubik);
}

.element:hover,
.element:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.link-picture {
  text-decoration: none;
}

.picture-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.picture-thumb-text {
  position: absolute;
  display: flex;

  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform var(--anim-time) var(--cubik);
}

.link-picture:hover .picture-thumb-text {
  transform: translateY(0);
}

.picture-content {
  padding: 20px 24px;
  /* box-shadow: var(--card-shadow); */

  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.picture-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.picture-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 10px;
}
.content {
  justify-content: center;
}

/* Подвал странички */

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  /* outline: 1px solid white; */
}
.logo-wrapper {
  margin-right: 70px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;

  color: var(--accent-color);
}
.accent-white {
  color: var(--primary-white-color);
}

.address-list {
  text-decoration: none;
  padding: 0px;
  margin-top: 20px;
}

.address-list-item {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  margin: 0;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-item .link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color var(--anim-time) var(--cubik);
}

.address-list-item .link:hover,
.address-list-item .link:focus {
  color: var(--accent-color);
}

/* ПРИСОЕДИНЯЙТЕСЬ */
.footer-icon-wrapper {
  display: inline-block;
  justify-content: center;
  align-items: flex-start;

  /* outline: 1px solid white; */
}

.footer-text-icon {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;

  /* outline: 1px solid white; */
}
.footer-icon-item {
  display: flex;
}
.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  padding: 0;
  margin: 0;

  transition: background-color var(--anim-time) var(--cubik);
}

.footer-icon-social {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.footer-icon-link:hover,
.footer-icon-link:hover {
  fill: #fff;
  background-color: var(--accent-color);
}

/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.footer-form {
  /* outline: 1px solid red; */
  margin-left: auto;
}

.footer-subscribe-title {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.footer-subscribe-input {
  width: 358px;
  min-height: 50px;
  padding: 15px 16px;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);

  background-color: transparent;

  transition: border var(--anim-time) var(--cubik);
}
.footer-subscribe-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.footer-subscribe-input::placeholder {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  position: relative;
  display: inline-block;
  padding: 10px 29px;
  margin-left: 12px;
  margin-right: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  min-width: 200px;

  transition: color var(--anim-time) var(--cubik),
    background-color var(--anim-time) var(--cubik),
    box-shadow var(--anim-time) var(--cubik);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  color: var(--primary-white-color);
  background: #188ce8;
  box-shadow: var(--box-shadow);
}

.subscribe-btn-span {
  display: flex;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
}

.footer-button-icon {
  position: absolute;
  display: flex;
  top: 10px;
  right: 28px;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--anim-time) var(--cubik),
    visibility var(--anim-time) var(--cubik);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;

  background-color: rgba(255, 255, 255, 1);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%);
  transition: opacity var(--anim-time) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--anim-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--primary-white-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(0.5);
  transition: opacity var(--anim-time) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--anim-time) cubic-bezier(0.4, 0, 0.2, 1);
}

/* ФОРМА */

.modal-title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.form-modal {
  outline: 1px solid yellow;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field:hover input,
.form-field:focus input {
  border-color: var(--accent-color);
}

.form-lable {
  /* outline: 1px solid red; */

  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  text-align: left;

  color: rgba(117, 117, 117, 1);

  margin-bottom: 4px;
}
